:root {
	--clr-primary: #edf0fe;
	--clr-secondary: #ff405c;
	--clr-tertiary: #53b9c6;
}

html {
	scroll-behavior: smooth;
	min-height: 100%;
	background-color: #101016;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem 4rem;
	color: azure;
	font-family: Body;
	font-size: 1rem;
	background: linear-gradient(
		180deg,
		#101016 0%,
		#0f0f17 34%,
		#10101c 49%,
		#0a0f12 67%,
		#12121f 83%,
		#08080c 100%
	);
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 0, 111, 0) transparent;
}

* {
	transition: all 0.2s ease-in-out;
}

*::-webkit-scrollbar {
	display: none;
}

h1 {
	font-size: 3rem;
	font-family: Title;
	color: var(--clr-secondary);
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	color: var(--clr-primary);
}

#tagline {
	font-family: Tagline;
}

h2 {
	font-family: Body;
	font-size: 2rem;
	font-weight: lighter;
	color: var(--clr-primary);
	margin-bottom: 1rem;
}

h3 {
	text-wrap: wrap;
	word-break: keep-all;
	text-align: center;
	font-family: Message;
	color: #edf0fe;
}

.link {
	cursor: pointer;
}

.center {
	min-height: 100%;
	display: grid;
	place-items: center;
}

.grow-flex {
	flex: 1;
	width: 100%;
	min-height: 100%;
}