:root {
	--clr-primary: #edf0fe;
	--clr-secondary: #ff405c;
	--clr-tertiary: #53b9c6;
}

html {
	scroll-behavior: smooth;
}

body {
	/* background-color: #08080c; */
	background: linear-gradient(180deg, #101016 0%, #0F0F17 34%, #10101C 49%, #0a0f12 67%, #12121F 83%, #08080C 100%);
	color: azure;
	font-family: "Poppins";
	font-size: 1rem;
	padding-inline: 5rem;
	padding-block: 2rem;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
	font-weight: 800;

	color: var(--clr-secondary);
	margin-bottom: 1rem;
}

p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--clr-primary);
}

h2 {
	font-size: 2rem;
	font-weight: 600;
	color: var(--clr-tertiary);
	margin-bottom: 1rem;
}