{% extends 'base.html' %} {% block body %}

<section>
	<h2>You might also like</h2>

	<div class="content">
		{% if history %} {% for movies in history %}
		<div class="card">
			<img class="poster" src="{{ movies.thumbnail }}" alt="Movie Poster" />
			<div class="curtain">
				<h3>{{ movies.name }}</h3>
				<a id="close-btn" type="button" href="/delete/{{ movies.id }}"> x </a>
			</div>
		</div>
		{% endfor %} {% else %}
		<div class="void">
			<h3>No history found.</h3>
		</div>

		{% endif %}
	</div>
</section>

<section class="grow-flex">
	<form class="search" action="/" method="POST">
		<input
			name="film"
			type="text"
			placeholder="Tell us your favourite movie" />
		<img style="width: 1.5rem; aspect-ratio: 1/1;" class="link" onclick="RecommendMovies()" src="/static/assets/search.png" />
	</form>

	<div
		class="content grow-flex">
		{% if recommendations %} {% for recom in recommendations %}
		<div class="card">
			<img class="poster" src="{{ recom.poster }}" alt="Movie Poster" />
			<div class="curtain">
				<h3>{{ recom.title }}</h3>
			</div>
		</div>
		{% endfor %} {% else %}
		<div
			class="void center">
			<div class="words">
				<h3>Nothing yet to show.</h3>
                <br>
				<h3>(╯°□°)╯︵ ┻━┻</h3>
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% endblock body %}
