
{% extends 'base.html' %}
{% block body %}
    
                <div style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                    <div class="section">
                        <div class="section-title">Based on Search History</div>
                        <div class="container">
                            {% if history %}
                                {% for movies in history %}
                                <div class="card">
                                    <img class="poster" src="{{ movies.thumbnail }}" alt="Movie Poster">
                                    <div class="curtain">
                                        <h3> {{ movies.name }} </h3>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            {% else %}
                                {% for i in range(5) %}
                                    <img class="img-placeholder" />
                                {% endfor %}
                        
                            {% endif %}                            
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">Manual Search</div>
                            <div class="search-container">
                                <form style="display: flex;" action="/" method='POST' >
                                    <input name="film" class="search-bar" type="text" placeholder="Search for a movie" />
                                    <img style="width: 25px; height: 25px;" src="/static/assets/search.png"></div>
                                </form>
                            </div>
                        </div>
                        <div class="container">
                            {% if recommendations %}
                                {% for recom in recommendations %}
                                <div class="card">
                                    <img class="poster" src="{{ recom.poster }}" alt="Movie Poster">
                                    <div class="curtain">
                                        <h3> {{ recom.title }} </h3>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            {% else %}
                                    <div class="void">
                                        <h3>Nothing yet to show.</h3>
                                        <h3>
                                            (╯°□°)╯︵ ┻━┻
                                            </h3>
                                    </div>
                            {% endif %}                            
                        </div>
                    </div>
                </div>

            {% endblock body %}
